grpcio==1.43.0
h5py==3.1.0
keras==2.6.0
Keras-Preprocessing==1.1.2
numpy==1.19.2
pygtrie==2.4.2
scipy==1.7.3
tensorboard==2.6.0
tensorboard-data-server==0.6.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.6.0
tensorflow-addons==0.15.0
tensorflow-estimator==2.6.0
typeguard==2.13.3
typing_extensions==3.7.4
Werkzeug==2.0.1
